@import 'neat/app/assets/stylesheets/neat-helpers';

// Colors
$black: #000;
$white: #fff;

// Grid
$column: 100px;
$grid-columns: 12;
$gutter: 40px;
$max-width: 1200px;
$visual-grid: false;

// Breakpoints
// We’ll want to access these in addition to the breakpoints
$mobile-size: 375px;
$phablet-size: 767px;
$tablet-size: 991px;
$laptop-size: 1199px;
$desktop-size: 1430px;
$display-size: 1920px;

// Breakpoints
$mobile: new-breakpoint(max-width $mobile-size);
$phablet-min: new-breakpoint(min-width $mobile-size + 1);
$phablet: new-breakpoint(max-width $phablet-size);
$phablet-landscape: new-breakpoint(max-width $phablet-size orientation 'landscape');
$tablet-min: new-breakpoint(min-width $phablet-size + 1);
$tablet: new-breakpoint(max-width $tablet-size);
$laptop-min: new-breakpoint(min-width $tablet-size + 1);
$laptop: new-breakpoint(max-width $laptop-size);
$desktop-min: new-breakpoint(min-width $laptop-size + 1);
$desktop: new-breakpoint(max-width $desktop-size);
$display-min: new-breakpoint(min-width $desktop-size + 1);
$display: new-breakpoint(max-width $display-size);


// More variables
$power2-ease-out: cubic-bezier(0.200, 0.485, 0.205, 1);
$site-gutter: 20px;
$transition-speed: 0.3s;
