@mixin align-vertically($position) {
    @include position($position, 50% null null null);
    @include transform(translateY(-50%));
}

@mixin align-horizontally($position) {
    @include position($position, null null null 50%);
    @include transform(translateX(-50%));
}

@mixin align-all($position) {
    @include position($position, 50% null null 50%);
    @include transform(translate(-50%, -50%));
}

@mixin align-reset($position: static) {
    @include position($position, 0 null null 0);
    @include transform(none);
}

@mixin scroll() {
    @include prefixer(overflow-scrolling, touch, webkit spec);
    overflow-y: auto;
}

@mixin no-tap-color() {
    @include prefixer(tap-highlight-color, rgba($black, 0), webkit);
}

@mixin maxlines($n: 2) {
    @include prefixer(box-orient, vertical, webkit);
    @include prefixer(line-clamp, $n, webkit);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
